/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/app.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
/* Hero section */
.app_main__LwvKe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.app_button__eFgoB {
  padding: 12px 32px; /* Adjust padding */
  margin: 4px 12px; /* Adjust margin */
  border-radius: 12px;
  border-style: none;
  color: black;
  background-color: #e68bef;
  box-shadow: 1px 2px #ffc300;
  min-width: 132px;
  flex-grow: 1; /* Allow button to grow */
}

.app_buttonPurple___cCVT {
  padding: 12px 32px; /* Adjust padding */
  margin: 4px 12px; /* Adjust margin */
  border-radius: 12px;
  border-style: none;
  color: white;
  background-color: #6943ff;
  box-shadow: 1px 2px #ffc300;
  min-width: 132px;
  flex-grow: 1; /* Allow button to grow */
}
  
.app_heroSection__bvDI5 {
  background-color: #6943ff;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 40px;
  color: #ffffff;
}

.app_leftCol__TFcTG{
  max-width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

.app_waitlistBox__wS9zX {
  background-color: #C8C6C6;
  padding: 20px;
  border: 2px solid white;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #6943ff;
  min-width: min-content;
}

.app_rightCol___7JzL{
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

.app_heroImage__HKjBm {
  border-radius: 12px;
}

/* Features section */

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

/* Mobile */
@media (max-width: 700px) {}
